// ==========================================================================
// Settings / Config / CSS VARS
// ==========================================================================

:root {
  --size: 390;

  --header-height: 5.25rem;
  --grid-columns: 6;

  @media(min-width: 650px) {
    --size: 1600;

    --header-height: 13.6rem;
    --grid-columns: 12;
  }
}
